	body{
		background-image:url(timg.jpg);
		background-size:cover;
	}
	/*北斗七星七颗星*/
	div.bd{
		width:45px;
		height:45px;
		border-radius:50%;
		box-shadow:0 0 30px #33ccff;
		background:radial-gradient(#fff,#A34DB2);
		position:absolute;
		z-index:101;
	}
	a{
		display:block;
		width:40px;
		height:40px;
		border-radius:50%;
		text-decoration:none;
		font-weight:bold;
		font-size:12px;
		text-align:center;
		line-height:40px;
	}
	div.bd:hover{
		transform:scale(3);
		cursor:pointer;
	}
	#bd1{
		top:200px;
		right:200px;
	}
	#bd1:hover{
		
	}
	#bd2{
		top:400px;
		right:180px;
	}
	#bd3{
		top:550px;
		right:500px;
	}
	#bd4{
		top:410px;
		right:600px;
	}
	#bd5{
		top:360px;
		right:750px;
	}
	#bd6{
		top:310px;
		left:263px;
	}
	#bd7{
		top:420px;
		left:80px;
	}
	/* 北斗七星的连线 */
	span.line{
		position:absolute;
		width:10px;
		background-color:silver;
		box-shadow:0 0 5px black;
		opacity:0.5;
	}
	#line1{
		top:235px;
		right:205px;
		height:170px;
		transform:rotate(-5deg);
	}
	#line2{
		top:333px;
		right:359px;
		height:325px;
		transform:rotate(65deg);
	}
	#line3{
		top:400px;
		right:579px;
		height:170px;
		transform:rotate(145deg);
	}
	#line4{
		top:340px;
		right:682px;
		height:133px;
		transform:rotate(107deg);
	}
	#line5{
		top:257px;
		right:877px;
		height:192px;
		transform:rotate(103deg);
	}
	#line6{
		top:285px;
		right:1077px;
		height:200px;
		transform:rotate(60deg);
	}
	#title{
		text-align:center;
		color:#fff;
	}
	#contain{
		width:1277px;
		height:600px;
		position:relative;
		margin:50px auto;
	}