html,body,div,h1,h2,h3,h4,h5,h6,p,table,thead,tbody,
tfoot,tr,td,ol,li,ul,dl,dt,dd,a,b,span,pre,header,section,aside,footer,article,i,u,s{
    padding:0; margin:0; list-style:none;
}

/*旋转木马必要样式*/
.poster-main img{
    height:270px;
    width:640px;
}
.poster-main{
    height:270px;
    width:800px;
    position:relative;
    margin-top:200px;
}
.poster-main .poster-list{width:800px;height:270px}
.poster-main a,.poster-main img{display:block;}
.poster-main .poster-list .poster-item{position:absolute;left:0;top:0;overflow:hidden}
.poster-main .poster-btn{
    position:absolute;cursor:pointer;
    width:100px;height:270px;top:0;z-index:10}
.poster-main .poster-prev-btn{left:0;background:url(images/left.png) no-repeat center center;}
.poster-main .poster-next-btn{right:0;background:url(images/right.png) no-repeat center center;}
